/* Remove the first left arrow */
.carousel-control-prev-icon:first-child {
  display: none;
}

/* Remove the second right arrow */
.carousel-control-next-icon:first-child {
  display: none;
}
.custom-carousel-caption {
  position: absolute;
  top:calc(50% - 100px);
  left: 100px;
  width:50%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 1500px) {
  .custom-carousel-caption {
    top:calc(50% - 110px);
  }
}


@media (max-width: 1100px) {
  .custom-carousel-caption {
    top:calc(50% - 130px);
    width:60%;
    
  }
}
@media (max-width: 900px) {
  .custom-carousel-caption {
    width:70%;
    align-items: center;
    left:calc(15%)

  }
}
@media (max-width: 700px) {
  .custom-carousel-caption {
    top:10px;
    width:75%;
  }
}
@media (max-width: 630px) {
  .custom-carousel-caption {
    top:calc(50% - 130px);
    width:65%;
  }
}